MONGO_URI=mongodb+srv://thuan:123456ccpt@webbantruyen.2amdk17.mongodb.net/?retryWrites=true&w=majority&appName=webbantruyen
MONGO_DB=comic_store
JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=86400000
